# Python Fundamentals I: variables, lists and dictionaries

## Python as a simple calculator

The very first and simple task that you can try with Python is using it as a simple calculator.

The standard symbols `+` and `-` can be used, together with `*` for multiplication and `/` for the division. To rise one number to the power, you should use `**`. For example:

In [1]:
10 + 3 - 2 + 9/3 + 2**3

22.0

Moreover, only round parenthesis can be used in mathematical operations, but can be nested many times:

In [2]:
4*(24+1) - 3*(2-5*(3.3-3))

98.5

## Python as a scientific programmable calculator

Also, Python can be used as a scientific programmable calculator. Consider for example the mathematical expression $3x^2+2x+5$. You can easily compute its result for diverse values of the variable $x$

In [3]:
x = 4
3*x**2 + 2*x + 5

61

## Python build-in objects

The meaning of the symbol `=` is different from mathematics, because in Python it means *assignment*. In practice, the quantity at the right of the `=` symbol is "stored" into a variable with a name defined on the left of the `=`. Variables can contain diverse type of "build-in objects", for example integer numbers, floating point numbers, strings, etc.

### Numbers

Integer variables can be easily created like

In [4]:
x=6

You can easily check the type of the created variable by using `type`

In [5]:
type(x)

int

`type` is a function that returns the type of the provided input *argument*. When you write a statement like `x=6`, Python understands that some memory should be reserved to store an integer number (`int`).

*(In other programming languages, like for example C, C++, FORTRAN and others, the type must be defined whevener a new variable is istantiated)*

A *floating point* variable can be instantiate like:

In [6]:
y = 23.45645

To check the corresponding type, you can simply do

In [7]:
type(y)

float

To print out the value of a variable, you can type the name of the variable inside a cell and then run it. However, in many cases it is useful to print only some signicant figures and properly format the output. In this case you can use *f-strings*

In [8]:
print(f"Our number is  {y:.3f}".format(y))

Our number is  23.456

### Strings

In [9]:
z = "Ciao!"
type(z)

str

### Lists

In [10]:
asedf = [12, "Hello", 1.33, 2.53]
asedf[2]

1.33

In [11]:
asedf[-1]

2.53

### Dictionaries

In [12]:
student = {"name": "Marco", "surname": "Rossi", "age": 27}

In [13]:
student["name"]

'Marco'

In [14]:
student["age"] = 23
student

{'name': 'Marco', 'surname': 'Rossi', 'age': 23}

## Import modules

In [15]:
import math
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

## Getting help!

## Repetitive tasks: the `for` loop

- indentazione!

In [16]:
students = ["A", "B", "C"]
for stud in students:
    print(stud)

A
B
C

In [17]:
for i in range(5):
    print("Iteration number", i)

Iteration number 0
Iteration number 1
Iteration number 2
Iteration number 3
Iteration number 4

## Conditional statemens: `if` and `else`

In [18]:
x=4